.form {
  margin: 0 1rem;
}

.form-control {
  margin: 1rem 0;
  label {
    display: flex;
    flex-direction: column;
  }
}

input.textfield {
  padding: .5rem;
  font-size: 1.5rem;
  background-color: #f6e5e5;
  outline: none;
  border: none;
  color: #774181;
  transition: .5s;
  &:focus {
    transform: scale(1.015);
    background-color: darken(#f6e5e5, 10%);
  }
  &-lg {
    font-size: 2rem;
  }
}
