.root {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.header {
  flex: 1;
  background-color: #352961;
  display: flex;
  align-items: center;
  padding-left: 2rem;
  padding-right: 2rem;
}

.main {
  flex: 5;
  background-color: darken(#352961, 20%);
  display: flex;
}

.footer {
  flex: .5;
  background-color: darken(#352961, 20%);
  border-top: 1px solid #f6e5e5;
}